In [ ]:
will start in a minute

### Spam Classifier using Navie Bays

$$ P(H|E)= \frac {P(E|H)*P(H)} {P(E)}$$

here P(H) is the probability of hypothesis H being True , P(E) is the probability Evidence and p(H|E)

In [2]:
pwd

'C:\\Users\\hp\\Desktop\\old\\online_ml_class\\NavieBays'

In [3]:
ls emails

 Volume in drive C is Windows
 Volume Serial Number is 92FD-5B19

 Directory of C:\Users\hp\Desktop\old\online_ml_class\NavieBays\emails

09-08-2019  19:44    <DIR>          .
09-08-2019  19:44    <DIR>          ..
09-08-2019  19:44    <DIR>          ham
09-08-2019  19:44    <DIR>          spam
               0 File(s)              0 bytes
               4 Dir(s)  24,267,341,824 bytes free

In [1]:
import os

In [2]:
len(os.listdir("emails/ham")) # non spam

2500

In [3]:
len(os.listdir('emails/spam/'))

500

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    "message" : [],
    "class" : [],
})

In [7]:
df

Empty DataFrame
Columns: [message, class]
Index: []

### just read all non spam messeges

In [8]:
path = "emails\\ham"
files = os.listdir(path)

In [9]:
files[:5]

['00001.7c53336b37003a9286aba55d2945844c',
 '00002.9c4069e25e1ef370c078db7ee85ff9ac',
 '00003.860e3c3cee1b42ead714c5c874fe25f7',
 '00004.864220c5b6930b209cc287c361c99af1',
 '00005.bf27cdeaf0b8c4647ecd61b1d09da613']

In [10]:
l = [ 'hello','hi','bye']
print('\n'.join(l))

f  = "'emails\\spam\\00116.29e39a0064e2714681726ac28ff3fdef' "

hello
hi
bye

In [11]:
def data_read(path):
    data = []
    files = os.listdir(path)
    for file in files :
        flag = False 
        fname = open(os.path.join(path,file),'r',encoding='latin')
        messege = []
        for line in fname : 
            if flag : 
                messege.append(line)
            elif line == "\n" : 
                flag = True
        message = "\n".join(messege)
        data.append(message)
    return data 
    
ham = data_read("emails\\ham")
spam = data_read("emails\\spam")

In [12]:
print(ham[0])

    Date:        Wed, 21 Aug 2002 10:54:46 -0500

    From:        Chris Garrigues <cwg-dated-1030377287.06fa6d@DeepEddy.Com>

    Message-ID:  <1029945287.4797.TMDA@deepeddy.vircio.com>





  | I can't reproduce this error.



For me it is very repeatable... (like every time, without fail).



This is the debug log of the pick happening ...



18:19:03 Pick_It {exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace} {4852-4852 -sequence mercury}

18:19:03 exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace 4852-4852 -sequence mercury

18:19:04 Ftoc_PickMsgs {{1 hit}}

18:19:04 Marking 1 hits

18:19:04 tkerror: syntax error in expression "int ...



Note, if I run the pick command by hand ...



delta$ pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace  4852-4852 -sequence mercury

1 hit



That's where the "1 hit" comes from (obviously).  The version of nmh I'm

using is ...



delta$ pick -version

pick -- nmh-1.0.4 [compiled on fuchsia.cs.mu.OZ.AU at Sun Mar 17 14:55:56 ICT 2002]



And the relevant part of my .mh_profile ...



delta$ mhparam pick

-seq sel -list





Since the pick command works, the sequence (actually, both of them, the

one that's explicit on the command line, from the search popup, and the

one that comes from .mh_profile) do get created.



kre



ps: this is still using the version of the code form a day ago, I haven't

been able to reach the cvs repository today (local routing issue I think).







_______________________________________________

Exmh-workers mailing list

Exmh-workers@redhat.com

https://listman.redhat.com/mailman/listinfo/exmh-workers

In [13]:
len(ham)

2500

In [14]:
len(spam)

500

In [15]:
df

Empty DataFrame
Columns: [message, class]
Index: []

In [16]:
ham = pd.DataFrame({
    'message': ham,
    'class' : 'ham'
})

In [17]:
spam = pd.DataFrame({
    'message': spam,
    'class' : 'spam'
})

In [18]:
ham.head()

                                             message class
0      Date:        Wed, 21 Aug 2002 10:54:46 -05...   ham
1  Martin A posted:\n\nTassos Papadopoulos, the G...   ham
2  Man Threatens Explosion In Moscow \n\n\n\nThur...   ham
3  Klez: The Virus That Won't Die\n\n \n\nAlready...   ham
4  >  in adding cream to spaghetti carbonara, whi...   ham

In [19]:
spam.head()

                                             message class
0  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Tr...  spam
1  1) Fight The Risk of Cancer!\n\nhttp://www.adc...  spam
2  1) Fight The Risk of Cancer!\n\nhttp://www.adc...  spam
3  ##############################################...  spam
4  I thought you might like these:\n\n1) Slim Dow...  spam

In [20]:
df = pd.concat([df,ham,spam])

In [21]:
df.head()

                                             message class
0      Date:        Wed, 21 Aug 2002 10:54:46 -05...   ham
1  Martin A posted:\n\nTassos Papadopoulos, the G...   ham
2  Man Threatens Explosion In Moscow \n\n\n\nThur...   ham
3  Klez: The Virus That Won't Die\n\n \n\nAlready...   ham
4  >  in adding cream to spaghetti carbonara, whi...   ham

In [22]:
df.tail()

                                               message class
495  <html>\n\n<head>\n\n<title>Toy</title>\n\n</he...  spam
496  <html>\n\n<head>\n\n<title>Untitled Document</...  spam
497  This is an HTML email message.  If you see thi...  spam
498  <html>\n\n<head>\n\n</head>\n\n  <body backgro...  spam
499  <STYLE type="text/css">\n\n<!--\n\nP{\n\n  fon...  spam

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
message = ["Hello world how you pass doing",
           "let's repeat repeat it repeat",
           'hi hello bye bye hi let us do some more and more words to ',
          ]

In [25]:
vectorizer = CountVectorizer()

In [26]:
vmsgs = vectorizer.fit_transform(message)

In [27]:
type(vmsgs)

scipy.sparse.csr.csr_matrix

In [28]:
vmsgs.shape

(3, 18)

In [29]:
print(vectorizer.vocabulary_)

{'hello': 4, 'world': 16, 'how': 6, 'you': 17, 'pass': 10, 'doing': 3, 'let': 8, 'repeat': 11, 'it': 7, 'hi': 5, 'bye': 1, 'us': 14, 'do': 2, 'some': 12, 'more': 9, 'and': 0, 'words': 15, 'to': 13}

In [30]:
print(vmsgs)

  (0, 3)	1
  (0, 10)	1
  (0, 17)	1
  (0, 6)	1
  (0, 16)	1
  (0, 4)	1
  (1, 7)	1
  (1, 11)	3
  (1, 8)	1
  (2, 13)	1
  (2, 15)	1
  (2, 0)	1
  (2, 9)	2
  (2, 12)	1
  (2, 2)	1
  (2, 14)	1
  (2, 1)	2
  (2, 5)	2
  (2, 8)	1
  (2, 4)	1

In [31]:
df[:5]

                                             message class
0      Date:        Wed, 21 Aug 2002 10:54:46 -05...   ham
1  Martin A posted:\n\nTassos Papadopoulos, the G...   ham
2  Man Threatens Explosion In Moscow \n\n\n\nThur...   ham
3  Klez: The Virus That Won't Die\n\n \n\nAlready...   ham
4  >  in adding cream to spaghetti carbonara, whi...   ham

## Model Evaluation 
#### split --> Training Data and Testing data --> classification report, confusion matrix , accuracy score

In [32]:
count = CountVectorizer()

In [33]:
features = count.fit_transform(df['message'])

In [34]:
features.shape

(3000, 62964)

In [35]:
features

<3000x62964 sparse matrix of type '<class 'numpy.int64'>'
	with 429785 stored elements in Compressed Sparse Row format>

In [36]:
target = df['class']

In [37]:
target.head()

0    ham
1    ham
2    ham
3    ham
4    ham
Name: class, dtype: object

### Split data into traing and testing

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train,X_test,y_train,y_test = train_test_split(features,target,test_size=0.3)

In [52]:
X_train.shape

(2100, 62964)

In [53]:
from sklearn.naive_bayes import MultinomialNB

In [54]:
model = MultinomialNB()

In [55]:
model.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [56]:
y_pred  = model.predict(X_test)

In [57]:
y_pred[:5]

array(['ham', 'ham', 'ham', 'ham', 'ham'], dtype='<U4')

In [58]:
import numpy as np

In [59]:
np.mean(y_pred != y_test)

0.03777777777777778

In [60]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [61]:
print(confusion_matrix(y_test,y_pred))

[[756   2]
 [ 32 110]]

In [63]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       758
        spam       0.98      0.77      0.87       142

   micro avg       0.96      0.96      0.96       900
   macro avg       0.97      0.89      0.92       900
weighted avg       0.96      0.96      0.96       900

In [64]:
accuracy_score(y_test,y_pred)

0.9622222222222222

In [104]:
message

['Hello world how you pass doing',
 "let's repeat repeat it repeat",
 'hi hello bye bye hi let us do some more and more words to ']

In [109]:
model.predict(count.transform(message))

array(['ham', 'spam', 'ham'], dtype='<U4')

In [110]:
new_msg = "Hello!! checkout this free service of ours you will be benifited"

In [111]:
model.predict(count.transform([new_msg]))

array(['ham'], dtype='<U4')

In [116]:
message = "Our Membership FAQ\n\n\n\nQ. Why are you offering free access to 5 adult membership sites for free?\n\nA. I have advertisers that pay me for ad space so you don't have to pay for membership.\n\n\n\nQ. Is it true my membership is for life?\n\nA. Absolutely you'll never have to pay a cent the advertisers do.\n\n\n\nQ. Can I give my account to my friends and family?\n\nA. Yes, as long they are over the age of 18.\n\n\n\nQ. Do I have to sign up for all 5 membership sites?\n\nA. No just one to get access to all of them.\n\n\n\nQ. How do I get started?\n\nA. Click on one of the following links below to become a member.\n\n\n\n- These are multi million dollar operations with policies and rules.\n\n- Fill in the required info and they won't charge you for the Free pass!\n\n- If you don't believe "

In [117]:
model.predict(count.transform([message]))

array(['ham'], dtype='<U4')

### flask, Django, tkinter