In [1]:
# read user data fram as --> u.data file
# read movie data fram as ---> u.item file

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\hp\\Desktop\\MachineLearning\\knn'

In [4]:
ls "ml-100k/u.data"

 Volume in drive C is Windows
 Volume Serial Number is 92FD-5B19

 Directory of C:\Users\hp\Desktop\MachineLearning\knn\ml-100k

File Not Found

In [5]:
user = pd.read_csv("ml-100k/u.data",sep='\t',
            names=['user_id','movie_id','rating','timestamp'])

In [6]:
user.head()

   user_id  movie_id  rating  timestamp
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [7]:
pd.Timestamp(881250949).date()

datetime.date(1970, 1, 1)

In [8]:
user['timestamp'] = user['timestamp'].apply(lambda d : pd.Timestamp(d).date())

In [9]:
user.head()

   user_id  movie_id  rating   timestamp
0        0        50       5  1970-01-01
1        0       172       5  1970-01-01
2        0       133       1  1970-01-01
3      196       242       3  1970-01-01
4      186       302       3  1970-01-01

In [10]:
user.tail()

        user_id  movie_id  rating   timestamp
99998       880       476       3  1970-01-01
99999       716       204       5  1970-01-01
100000      276      1090       1  1970-01-01
100001       13       225       2  1970-01-01
100002       12       203       3  1970-01-01

In [11]:
user = pd.read_csv("ml-100k/u.data",sep='\t',
            names=['user id','movie id','rating'],usecols=[0,1,2])

In [12]:
user.head()

   user id  movie id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [13]:
len(user['movie id'].unique())

1682

In [14]:
len(user['user_id'].unique())

KeyError: 'user_id'

In [ ]:
user['rating'].mean()

In [ ]:
geners = [ "movie id","movie title","Action", "Adventure","Animation","Children's","Comedy",
          "Crime","Documentary","Drama","Fantasy","Film-Noir","Horror",
          "Musical", "Mystery","Romance","Sci-Fi","Thriller", "War",
          "Western" ]
print(len(geners))

In [ ]:
index = [ var for var in range(24)]
index.remove(2);index.remove(3);index.remove(4);index.remove(5)

In [ ]:
movie = pd.read_csv("ml-100k/u.item",names=geners,encoding='latin',
                   sep='|',usecols=index)

In [ ]:
movie.head()

In [ ]:
new_df = user.join(movie[["movie id","movie title"]],on="movie id",
        how='inner',lsuffix="1")

In [ ]:
new_df.head()

In [ ]:
new_df.drop(["movie id1","movie id"],axis=1,inplace=True)

In [ ]:
data = new_df.reindex(index=range(len(new_df)))

In [ ]:
data.head()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
data.groupby("movie title")['rating'].count().\
sort_values(ascending=False)[:20].plot(kind='bar')
plt.show()

In [ ]:
data.groupby("movie title").agg({ "rating": np.mean})

## Decesion Trees  & Random Forest